#!/bin/sh
# vim: filetype=sh

{{ if eq .chezmoi.os "darwin" }}
echo "Installing Homebrew..."
/bin/bash -c "$(curl -fsSL https://raw.githubusercontent.com/Homebrew/install/HEAD/install.sh)"

{{ else if eq .chezmoi.os "linux" }}
echo "Installing Linux requirements for Rust builds..."
sudo apt install build-essential
sudo apt install pkg-config
sudo apt install libssl-dev
sudo get install zip unzip

{{ end }}

{{ if eq .chezmoi.os "linux" "darwin" }}
echo "Installing mise development environment manager..."
curl https://mise.run | sh

echo "Installing Rust..."
curl --proto '=https' --tlsv1.2 -sSf https://sh.rustup.rs | sh

echo "Installing cargo-binstall..."
curl -L --proto '=https' --tlsv1.2 -sSf https://raw.githubusercontent.com/cargo-bins/cargo-binstall/main/install-from-binstall-release.sh | bash
{{ end }}
