{{ if eq .chezmoi.os "windows" }}
# vim: filetype=pwsh

echo "Installing packages for Windows..."
winget install --exact --id Git.Git
winget install --exact --id GitHub.cli
winget install --exact --id Google.Chrome
winget install --exact --id Mozilla.Firefox
winget install --exact --id wez.wezterm
winget install --exact --id Obsidian.Obsidian
winget install --exact --id IDRIX.VeraCrypt
winget install --exact --id VideoLAN.VLC
winget install --exact --id 7zip.7zip
winget install --exact --id AutoHotkey.AutoHotkey
winget install --exact --id AxCrypt.AxCrypt
winget install --exact --id Balena.Etcher
winget install --exact --id Foxit.FoxitReader
winget install --exact --id Logitech.OptionsPlus
winget install --exact --id xanderfrangos.twinkletray

$install_personal_packages = Read-Host -Prompt "Install personal packages (MuseScore, Plex, iDrive, ...)? [y/N] "
if ($install_personal_packages -eq 'y') {
    winget install --exact --id Musescore.Musescore
    winget install --exact --id Google.Drive
    winget install --exact --id Plex.PlexMediaPlayer
    winget install --exact --id Valve.Steam
    winget install --exact --id Discord.Discord
    winget install --exact --id qBittorrent.qBittorrent
    winget install --exact --id Surfshark.Surfshark
} else {
    echo "Skipping personal packages..."
}

{{ end }}

