#!/bin/sh
# vim: filetype=sh

{{ if eq .chezmoi.os "windows" }}
# Install windows package managers

{{ else if eq .chezmoi.os "darwin" }}
echo "Installing Homebrew..."
/bin/bash -c "$(curl -fsSL https://raw.githubusercontent.com/Homebrew/install/HEAD/install.sh)"

{{ else if eq .chezmoi.os "linux" }}
# Install Linux package managers

{{ end }}

{{ if eq .chezmoi.os "linux" "darwin" }}
echo "Installing Rust..."
curl --proto '=https' --tlsv1.2 -sSf https://sh.rustup.rs | sh
echo "Installing cargo-binstall..."
curl -L --proto '=https' --tlsv1.2 -sSf https://raw.githubusercontent.com/cargo-bins/cargo-binstall/main/install-from-binstall-release.sh | bash
{{ end }}


###
# Install shell
{{ if eq .chezmoi.os "windows" }}

{{ else if eq .chezmoi.os "darwin" }}

{{ else if eq .chezmoi.os "linux" }}

{{ end }}

{{ if eq .chezmoi.os "linux" "darwin" }}
{{ end }}
