#!/bin/sh
# vim: filetype=sh

{{ if eq .chezmoi.os "linux" "darwin" }}
echo "Installing common packages for Linux, WSL, and MacOS..."

# Install from mise/config.toml
mise install

cargo binstall --locked -y bat \
    eza \
    zellij@0.40.1 \
    bottom \
    starship \
    zoxide \
    hyperfine \
    bacon \
    fend \
    macchina \
    ripgrep \
    fd-find \
    cargo-update \
    tokei \
    yazi-fm yazi-cli \

curl --proto '=https' --tlsv1.2 -LsSf https://setup.atuin.sh | sh

pip install ruff
pip install mdformat-gfm

# Delete the default neovim themes
find ~/.local/share/mise/installs/neovim/ -type f -path "*/colors/*" ! -name "*README*" ! -name "default.vim" ! -name "vim.lua" -delete

{{ end }}

{{ if eq .chezmoi.os "linux" }}
echo "Installing packages for Linux..."
sudo apt install git

{{ end }}

{{ if eq .chezmoi.os "darwin" }}
echo "Installing packages for MacOS..."

brew install gh
brew install gnu-sed
brew install wget
brew install --cask google-chrome
brew install --cask firefox
brew install --cask wezterm
brew install --cask karabiner-elements
brew install --cask rectangle
brew install --cask clipy
brew install --cask espanso
brew install --cask obsidian
brew install --cask balenaetcher
brew install --cask veracrypt
brew install --cask vlc
brew install --cask microsoft-remote-desktop

{{ end }}

