#!/bin/sh
# vim: filetype=sh

echo "Installing packages..."

{{ if eq .chezmoi.os "linux" "darwin" }}
echo "Installing common packages for Linux, WSL, and MacOS..."

mise install

cargo binstall --locked -y bat \
    eza \
    zellij \
    bottom \
    atuin \
    starship \
    zoxide \
    hyperfine \
    bacon \
    fend \
    macchina \
    ripgrep \
    tokei \

pip install ruff

{{ end }}

{{ if eq .chezmoi.os "linux" }}
echo "Installing packages for Linux..."
sudo apt install gh

{{ end }}

{{ if eq .chezmoi.os "darwin" }}
echo "Installing packages for MacOS..."

brew install gh
brew install --cask google-chrome
brew install --cask firefox
brew install --cask wezterm
brew install --cask karabiner-elements
brew install --cask rectangle
brew install --cask clipy
brew install --cask espanso
brew install --cask obsidian
brew install --cask balenaetcher
brew install --cask veracrypt
brew install --cask vlc
brew install --cask microsoft-remote-desktop
{{ end }}

{{ if eq .chezmoi.os "windows" }}
echo "Installing packages for Windows..."
winget install --exact --id Git.Git
winget install --exact --id GitHub.cli
winget install --exact --id Google.Chrome
winget install --exact --id Mozilla.Firefox
winget install --exact --id wez.wezterm
winget install --exact --id Obsidian.Obsidian
winget install --exact --id IDRIX.VeraCrypt
winget install --exact --id VideoLAN.VLC
winget install --exact --id 7zip.7zip
winget install --exact --id AutoHotkey.AutoHotkey
winget install --exact --id AxCrypt.AxCrypt
winget install --exact --id Balena.Etcher
winget install --exact --id Foxit.FoxitReader
winget install --exact --id Logitech.OptionsPlus
winget install --exact --id xanderfrangos.twinkletray

printf 'Install personal packages (MuseScore, Plex, iDrive, ...)? [y/N] '
read install_personal_packages
if [ "$install_personal_packages" != "${install_personal_packages#[Yy]}" ] ;then 
    winget install --exact --id Musescore.Musescore
    winget install --exact --id Google.Drive
    winget install --exact --id Plex.PlexMediaPlayer
    winget install --exact --id Valve.Steam
    winget install --exact --id Discord.Discord
    winget install --exact --id qBittorrent.qBittorrent
    winget install --exact --id Surfshark.Surfshark
else
    echo "Skipping personal packages..."
fi

{{ end }}

