# Mise has many tools that are aliased by default. These are listed in the registry: https://mise.jdx.dev/registry.html
# Mise supports several backends to install tools. If a tool is not in Mise's registry, the backend must be specified.
#   - Aqua is preferred but it has its own registry: https://github.com/aquaproj/aqua-registry/blob/main/registry.yaml
#   - More specific backends can handle tools that do not release binary files.

[tools]
cargo-binstall = "latest"
neovim = "latest"

eza = "latest"
zoxide = "latest"
starship = "latest"
ripgrep = "latest"
fd = "latest"
"cargo:macchina" = "latest"
github-cli = "latest"
"aqua:atuinsh/atuin" = "latest"
yazi = "latest"
bottom = "latest"
bat = "latest"
zellij = "0.43.1"               # Pin version due to manual upgrade process
"cargo:bacon" = "latest"
"cargo:du-dust" = "latest"
hyperfine = "latest"
"aqua:printfn/fend" = "latest"
fzf = "latest"
lazygit = "latest"
delta = "latest"
jq = "latest"
tree-sitter = "latest"
node = "lts"    # Required for nvim copilot.lua

{{ if .dev_env }}

python = "3.12"
pipx = "latest"
ruff = "latest"
stylua = "latest"
"pipx:mdformat-gfm" = { version = "latest", uvx = false, pipx_args = "--include-deps" }
"pipx:sqlfluff" = "latest"

{{ end }}

[settings]
idiomatic_version_file_enable_tools = ["node"]
